
  <% include Template/head.ejs %>
  <body>
    <% include Template/header.ejs %>

    <section class="container">
      <section class="holder">

        <section class="aside">
          <h1>No need to switch apps get all in one place.</h1>
          <h3>Nevaa surface your most important friends, family, news and funny in real-time
            so your day can build a smart, productive smile.</h3>

          <section class="buttons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
              <li><a href="#"><i class="fa fa-snapchat"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </section>
        </section>
        <section class="right">
          <section class="ph-h">
            <section class="shadow"></section>
            <!--<img src="./images/phone1.png">-->

            <section class="ph-big">
              <section class="ph-holder">
                <img class="slide-big" src="./images/splash-layout.png">
                <img class="slide-big" src="./images/pro-layout.png">
              </section>
            </section>

            <section class="ph-small">
              <section class="ph-holder">
                <img class="slide-small" src="./images/login-layout.png">
                <img class="slide-small" src="./images/ph-layout.png">
              </section>
            </section>

          </section>

          <section class="b-get">

            <section class="g-p">
              <a href="#">
                <section class="left-ico gp">
                  <img src="./images/icons/gp.svg" alt="Google play">
                </section>
                <section class="right-i">
                  <p>GET IT ON</p>
                  <h3>Google Play</h3>
                </section>
              </a>
            </section>

            <section class="i-s">
              <a href="#">
                <section class="left-ico ios">
                  <img src="./images/icons/apple.svg" alt="App store">
                </section>

                <section class="right-i">
                  <p>Download on the</p>
                  <h3>App Store</h3>
                </section>
              </a>
            </section>
          </section>
        </section>

      </section>
    </section>

    <% include Template/footer.ejs %>
  </body>
</html>
