
/**
small screens
 */

@media screen and (max-width: 1366px){

    section.h-holder > .logo > a > .logo-text{
        font-size: 2.6em;
    }

    .container > .holder > .right > .ph-h{
        width:80%;
        margin-right: 10%;
    }

    .container > .holder > .right > .ph-h > .ph-big{
        height: 500px;
        width: 300px;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        height: 480px;
        left: 10px;
        width: 228px;
    }

    .container > .holder > .right > .ph-h > .ph-small{
        right: 90px;
        width: 220px;
        margin-top: 50px;
        height: 470px;
    }

    .container > .holder > .right > .ph-h > .ph-small > section > img{
        width: 200px;
        height: 393px;
        left: 12px;
        top: 8px;
    }
}

@media screen and (max-width: 1280px){
    .container > .holder > .right > .ph-h{
        width: 80%;
        margin-right: 10px;
    }

    .container > .holder > .right > .ph-h > .ph-big{
        width: 230px;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        height: 450px;
        left: 10px;
        width: 208px;
    }

    .container > .holder > .right > .ph-h > .ph-small{
        right: 70px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1024px){

    .container > .holder > .right > .ph-h{
        width: 90%;
        margin-right: 0px;
    }

    .container > .holder > .right > .ph-h > .ph-big{
        width: 230px;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        height: 450px;
        left: 10px;
        width: 208px;
    }

    .container > .holder > .right > .ph-h > .ph-small{
        right: 0px;
    }
}

@media screen and (max-width: 960px){
    section.h-holder > .logo > a > .logo-text{
        font-size: 2.6em;
    }

    .buttons{
        width: 80%;
    }

    .container > .holder > .right > .aside{
        margin-top: 50%;
    }

    .container > .holder > .right > .ph-h{
        width: 85%;
        margin-right: 0px;
        margin-top: 20%;
    }

    .container > .holder > .right > .ph-h > .ph-big{
        height: 500px;
        width: 220px;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        height: 425px;
        left: 6px;
        top: 5px;
    }

    .container > .holder > .right > .ph-h > .ph-small{
        right: -10px;
        width: 200px;
        margin-top: 35px;
        height: 400px;
    }

    .container > .holder > .right > .ph-h > .ph-small > section > img{
        width: 186px;
        height: 358px;
        left: 9px;
        top: 7px;
    }
}

@media screen and (max-width: 768px){
    section.h-holder > .logo > a > .logo-text{
        font-size: 2.6em;
    }

    .container > .holder > .aside{
        width: 100%;
        margin-top: 6%;
    }

    .container > .holder > .aside > h3{
        margin-top: 20px;
    }

    .container > .holder > .right{
        width: 100%;
    }
    .container > .holder > .right > .ph-h{
        width: 70%;
        margin-top: 15%;
        position: relative;
        float: right;
        height: 600px;
    }

    .container > .holder > .right > .b-get{
        position: relative;
        width: 80%;
        margin-top: 30px;
        float: right;
    }

    .container > .holder > .right > .ph-h > .ph-big{
        height: 500px;
        width: 240px;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        width: 223px;
        height: 468px;
    }

    .container > .holder > .right > .ph-h > .ph-small{
        height: 400px;
        width: 220px;
        right: 50px;
    }

    .container > .holder > .right > .ph-h > .ph-small > section > img{
        height: 380px;
        width: 195px;
        right: 10px;
    }
}

@media screen and (max-width: 670px){
    section.h-holder > .logo > a > .logo-text{
        font-size: 2.6em;
    }

    .container > .holder > .aside{
        width: 100%;
        margin-top: 6%;
    }

    .container > .holder > .aside > h3{
        margin-top: 20px;
    }

    .container > .holder > .right{
        width: 100%;
    }
    .container > .holder > .right > .ph-h{
        width: 77%;
        margin-top: 15%;
        position: relative;
        float: right;
        height: 600px;
    }

    .container > .holder > .right > .b-get{
        position: relative;
        width: 80%;
        margin-top: 30px;
        float: right;
    }

    .container > .holder > .right > .ph-h > .ph-big{
        height: 500px;
        width: 240px;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        width: 223px;
        height: 468px;
    }

    .container > .holder > .right > .ph-h > .ph-small{
        height: 400px;
        width: 220px;
        right: 50px;
    }

    .container > .holder > .right > .ph-h > .ph-small > section > img{
        height: 380px;
        width: 195px;
        right: 10px;
    }
}

@media screen and (max-width: 640px){

    section.h-holder > .logo > a > .logo-text{
        font-size: 2.6em;
    }

    .container > .holder > .aside{
        width: 100%;
        margin-top: 6%;
    }

    .container > .holder > .aside > h3{
        margin-top: 20px;
    }

    .container > .holder > .right{
        width: 100%;
    }
    .container > .holder > .right > .ph-h{
        width: 80%;
        margin-top: 15%;
        margin-right: 0px;
        position: relative;
        float: right;
        height: 600px;
    }

    .container > .holder > .right > .b-get{
        position: relative;
        width: 80%;
        margin-top: 30px;
        float: right;
    }

    .container > .holder > .right > .ph-h > .ph-big{
        height: 500px;
        width: 240px;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        width: 223px;
        height: 468px;
    }

    .container > .holder > .right > .ph-h > .ph-small{
        height: 400px;
        width: 220px;
        right: 50px;
    }

    .container > .holder > .right > .ph-h > .ph-small > section > img{
        height: 380px;
        width: 195px;
        right: 10px;
    }

}

@media screen and (max-width: 600px){
    .container > .holder > .right > .ph-h{
        width: 85%;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        top: 5px;
        left: 10px;
    }
}

@media screen and (max-width: 533px){
    .container > .holder > .right > .ph-h{
        width: 95%;
    }
}

@media screen and (max-width: 441px){
    section.h-holder > .logo{
        width: 100%;
        text-align: center;
    }

    section.h-holder > .logo > a > .logo-text:before{
        margin-top: 1px;
    }

    section.h-holder > nav > ul > li{
        padding-left: 12px;
        padding-right: 12px;
    }

    .container > .holder > .aside > h1{
        font-size: 30px;
    }

    .container > .holder > .aside > h3{
        font-size: 17px;
    }

    .container > .holder > .right > .ph-h{
        width: 100%;
        margin-right: -10px;
        height: 400px;
    }

    .container > .holder > .right > .ph-h > .ph-big{
        width: 260px;
        height: 400px;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        left: 10px;
        width: 70%;
        height: 380px;
    }

    .container > .holder > .right > .ph-h > .ph-small{
        height: 350px;
        width: 200px;
        margin-top: 25px;
        right:20px;
    }

    .container > .holder > .right > .ph-h > .ph-small > section > img{
        left: 8px;
        width: 170px;
        height: 330px;
        margin-top: 0px;
    }

    .buttons{
        width: 80%;
    }
    .container > .holder > .right > .b-get{
        width: 100%;
    }

    .container > .holder > .right > .b-get > section{
        margin-right: 10px;
    }

}

@media screen and (max-width: 412px) {
    .container > .holder > .right > .ph-h > .ph-small > section > img{
        top: 5px;
    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{
        top: 5px;
    }
}

@media screen and (max-width: 360px){
    section.h-holder > .logo{
        width: 100%;
        text-align: center;
    }

    section.h-holder > .logo > a > .logo-text:before{
        margin-top: 1px;
    }

    section.h-holder > nav > ul > li{
        padding-left: 8px;
        padding-right: 8px;
    }

    .container > .holder > .aside > h1{
        font-size: 30px;
    }

    .container > .holder > .aside > h3{
        font-size: 17px;
    }

    .container > .holder > .right > .ph-h{
        width: 100%;
        margin-right: 0px;
        min-height: 400px;
    }

    .container > .holder > .right > .ph-h > .ph-big{

    }

    .container > .holder > .right > .ph-h > .ph-big > section > img{

    }

    .container > .holder > .right > .ph-h > .ph-small{
        margin-right: -30px;
    }

    .container > .holder > .right > .ph-h > .ph-small > section > img{
        margin-top: -3px;
    }

    .buttons{
        width: 100%;
    }
    .container > .holder > .right > .b-get{
        width: 80%;
    }

    .container > .holder > .right > .b-get > section{
        margin-right: 0px;
        margin-top: 10px;
    }

}