@font-face {
  font-family: "roboto";
  font-face-name: roboto;
  src: url("./fonts/roboto_regular.ttf");
}

*{
  margin: 0px;
  padding: 0px;
  background: rgba(255,255,255,1);
  font-family: roboto;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  width: 100%;
  height: auto;
  float: left;
  background: transparent;
}

header{
  width: 100%;
  height: 60px;
  background: #fff;
}

.h-holder{
  width: 95%;
  float: none;
  display: block;
  margin: 0px auto;
  background: transparent;
}

section.h-holder > .logo{
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 15px;
}

section.h-holder > .logo > a{
  text-decoration: none;
}

section.h-holder > .logo > a > .logo-text {
    font-size: 2.5vw;
  font-family: 'Poppins', sans-serif;
  background-image: -webkit-gradient( linear, left bottom, right top, color-stop(0, rgba(247,187,151,1)), color-stop(0.15, rgba(247,187,151,1)), color-stop(0.6, rgba(247,187,151,1)), color-stop(0.45, rgba(212,90,131,1)), color-stop(0.6,#ff9600),color-stop(0.75, rgba(247,187,151,1)), color-stop(0.9, rgba(212,90,131,1)), color-stop(1, rgba(212,90,131,1)) );
  background-image: linear-gradient(right top, color-stop(0, rgba(247,187,151,1)), color-stop(0.15, rgba(247,187,151,1)), color-stop(0.6, rgba(247,187,151,1)), color-stop(0.45, rgba(212,90,131,1)), color-stop(0.6,#ff9600),color-stop(0.75, rgba(247,187,151,1)), color-stop(0.9, rgba(212,90,131,1)), color-stop(1, rgba(212,90,131,1)) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  color:transparent;
}

section.h-holder > .logo > a > .logo-text:before {
  background: none;
  content:attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
  top: 0;
  margin-top: 40px;
}

section.h-holder > .logo > a > img{
  width: 100%;
  height: 100%;
  float: left;
}

section.h-holder > nav{
  width: auto;
  height: 100%;
  float: right;
  font-size: 15px;
}

section.h-holder > nav > ul{
  width: 100%;
}

section.h-holder > nav > ul > li{
  list-style-type: none;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  transition: .5s linear 0s;
  float: left;
}

section.h-holder > nav > ul > li > a{
  text-decoration: none;
  color: rgba(10,10,10,.6);
  float: left;
  transition: .7s linear 0s;
  margin-top: 20px;
}

section.h-holder > nav > ul > li > i{
  float: left;
  margin-top: 22px;
  transition: .7s linear 0s;
  color: rgba(10,10,10,.6);
}

section.h-holder > nav > ul > li > a:hover{
  color: #ff8e37;
  text-decoration: underline;
}

section.h-holder > nav > ul > li > i:hover{
  color: #ff8e37;
}

.container{
  width: 100%;
  float: left;
  background: transparent;
  height: auto;
}

.container > .holder{
  width: 95%;
  background:transparent;
  display: block;
  height: 100%;
  margin: 0px auto;
}

.container > .holder > .aside{
  width: 50%;
  height: 100%;
  float: left;
  margin-top: 15%;
}

.container > .holder > .aside > h1{
  width: 90%;
  margin: 0px auto;
  height: auto;
  font-size: 55px;
  color: rgba(10,10,10,.7); /*rgba(100,90,131,1); important*/
  text-align: justify-all;
  font-weight: bolder;
}

.buttons{
  margin: 10px auto;
  width: 40%;
}

.buttons > ul{
  width: auto;
}

.buttons > ul > li{
  float: left;
  list-style-type: none;
  margin-left: 30px;
  transition: .5s linear 0s;
}

.buttons > ul > li> a{
  font-size: 30px;
  color:rgba(212,90,131,1);
  transition: .7s linear 0s;
  opacity: .7;
}

.buttons > ul > li> a:hover{
  opacity: 1;
}

.container > .holder > .aside > h3{
  width: 90%;
  margin: 50px auto;
  height: auto;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  color: rgba(100,100,100,.9);
}

.container > .holder > .right{
  width: 50%;
  float: left;
  background: transparent;
}

.container > .holder > .right > .ph-h{
  margin-top: 15%;
  margin-right: 25%;
  width: 70%;
  height: 100%;
  float: right;
  user-select: none;
  position: relative;
  background: transparent;
  transition: .7s linear 0s;
}

.container > .holder > .right > .ph-h > .ph-big{
    width: 280px;
    height: 600px;
    position: absolute;
    left: 0;
    z-index: 1;
  overflow: hidden;
   background: transparent;
}

.container > .holder > .right > .ph-h > .ph-big > .ph-holder{
  width: 100%;
  height: 100%;
  background: url("/images/ph-big.png") no-repeat;
  background-size:contain;
  text-align: center;
  float: left;
  overflow: hidden;
  position: relative;
}

.container > .holder > .right > .ph-h > .ph-big > section > img{
    width:255px;
    height: 540px;
    background: transparent;
    z-index: -1;
    left: 13px;
    top: 8px;
  animation: redd 2s linear 0s;
  transition: 7s linear 0s;
  display: none;
    position: absolute;
}

.container > .holder > .right > .ph-h > .ph-small{
  width: 250px;
  height: 520px;
  position: absolute;
  float: right;
  margin-top: 40px;
  right:60px;
  z-index: -1;
  overflow: hidden;
  background: transparent;
}

.container > .holder > .right > .ph-h > .ph-small > .ph-holder{
  width: 100%;
  height: 100%;
  background: url("/images/ph-small.png") no-repeat;
  background-size:contain;
  text-align: center;
  float: left;
  position: relative;
}

.container > .holder > .right > .ph-h > .ph-small > section > img{
  width: 225px;
  height: 450px;
  background: transparent;
  z-index: -1;
  left: 13px;
  top: 9px;
  animation: redd 2s linear 0s;
  transition: 1s linear 0s;
  display: none;
  position: absolute;
}

@-webkit-keyframes redd{
  from {opacity: .2;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -ms-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    transition: 1s linear 0s;}
  to {opacity: 1;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -ms-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    transition: 1s linear 0s;}
}

@keyframes redd{
  from {opacity: .2;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -ms-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    transition: 1s linear 0s;}
  to {opacity: 1;
    -webkit-transition: 2s linear 0s;
    -moz-transition: 2s linear 0s;
    -ms-transition: 2s linear 0s;
    -o-transition: 2s linear 0s;
    transition: 2s linear 0s;}
}

.container > .holder > .right > .ph-h > img{
  width: 100%;
  height: 100%;
  float: left;
  background: transparent;
}

.container > .holder > .right > .ph-h > .shadow{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: transparent;
}

.container > .holder > .right > .b-get{
  float: right;
  transition: .7s linear 0s;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 10px;
  z-index: 2;
  background: transparent;
}

.container > .holder > .right > .b-get > section{
  background: rgba(212,90,131,1);
  width: auto;
  height: auto;
  float: left;
  margin-right: 27px;
  cursor: pointer;
  border-radius: 8px;
  transition: .5s linear 0s;
}

.container > .holder > .right > .b-get > section:hover{
  opacity: .6;
}

.container > .holder > .right > .b-get > section > a{
  display: inline-block;
  width: 100%;
  height: 100%;
  background: transparent;
  text-decoration: none;
}

.container > .holder > .right > .b-get > section > a > .left-ico{
  width: 27px;
  height: 27px;
  float: left;
  margin-top: 10px;
  margin-left: 8px;
  background: rgba(255,255,255,.0);
}

.container > .holder > .right > .b-get > section > a > .gp{
  width: 30px;
  height: 30px;
}

.container > .holder > .right > .b-get > section > a > .left-ico > img{
  width: 100%;
  height: 100%;
  float: left;
  background: rgba(255,255,255,.0);
}

.container > .holder > .right > .b-get > section > a > .right-i{
  width: 115px;
  padding: 5px 0 5px 0;
  float: left;
  height: auto;
  margin-left: 2px;
  background: transparent;
}

.container > .holder > .right > .b-get > section > a > .right-i > p{
  font-size: 14px;
  margin-top: 4px;
  background: transparent;
  color: rgba(255,255,255,1);
}

.container > .holder > .right > .b-get > section > a > .right-i > h3{
  background: transparent;
  font-size: 17px;
  padding: 0px;
  margin-top: -5px;
  color: rgba(255,255,255,1);
  font-weight: bold;
}