<header>
    <section class="h-holder">
        <section class="logo">
            <a href="/"> <span class="logo-text" data-text="<%= title%>"><%= title%></span><!--<img src="/images/logos/nevaa-red.png"> --> </a>
        </section>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="https://nevaa.co/nevaa/blog" target="_blank">BLOG</a></li>
                <li><a href="https://nevaa.co/about">ABOUT</a></li>
                <li><a href="https://nevaa.co/contact">CONTACT</a></li>
                <li><i class="fa fa-search" aria-hidden="true"></i></li>
            </ul>
        </nav>
    </section>
</header>