<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link type="image/png" rel="shortcut icon" href="/images/logos/fav.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/fonts/fa/css/font-awesome.css' />
</head>